/**
 * About page specific styles
 */

$about-banner-height--default: 38vw;
$about-banner-height--bp-small: 47vw;
$about-banner-height--bp-smaller: 72vw;

.about-banner {
  background-color: #343534; // In case the image doesn't load
  background-image: url("/images/me-banner.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  height: $about-banner-height--default;
  max-height: 500px;
  padding-left: 10%;
  padding-right: 1.5em;
  overflow: hidden;
  width: 100%;

  @media #{$breakpoint-small} {
    background-position: top right;
    height: $about-banner-height--bp-small;
    padding-left: 0;

    // These correct for the body padding at this breakpoint
    margin-left: -5vw;
    width: 100vw;
  }

  @media only screen and (max-width: 525px) {
    background-position: top right -7vw;
    height: $about-banner-height--bp-smaller;
  }

  // Some small tech debt here
  .monogram {
    z-index: -1;
  }
}

.about-hello {
  margin-left: 83px; // Roughly aligned with page text
  margin-top: 1%;
  width: 38%;

  @media only screen and (min-width: 1330px) {
    margin-top: 45px;
    width: 500px;
  }

  @media #{$breakpoint-small} {
    margin-left: 5%;
    margin-top: -6%;
  }
}
