/**
 * About page specific styles
 */

.about-content {
  padding-left: calc(10vw + #{$content-left-gutter});
  max-width: 50em;
  min-width: 500px;
  width: 80%;

  @media #{$breakpoint-small} {
    padding-left: 0;
    min-width: initial;
    width: 95%;
  }
}

$about-banner-height--default: 38vw;
$about-banner-height--bp-small: 47vw;
$about-banner-height--bp-smaller: 72vw;

.about-banner {
  height: $about-banner-height--default;
  max-height: 500px;
  padding-left: 10%;
  padding-right: 1.5em;
  overflow: hidden;
  width: 100%;

  // Background image and bottom curve
  background-color: #343534; // In case the image doesn't load
  background-image:
    radial-gradient(ellipse farthest-side at bottom right, $bg-color 0%, $bg-color 99%, transparent 100%),
    url(/images/me-banner.jpg);
  background-size: 103% 60px, cover;
  background-position: bottom -1px right -1px, top right; // -1px because of sub-pixel rendering issues causing gaps
  background-repeat: no-repeat;

  @media #{$breakpoint-small} {
    height: $about-banner-height--bp-small;
    padding-left: 0;

    // These correct for the body padding at this breakpoint
    margin-left: -5vw;
    width: 100vw;
  }

  @media only screen and (max-width: 525px) {
    background-position: bottom right, top right -7vw;
    height: $about-banner-height--bp-smaller;
  }

  // Some small tech debt here
  .monogram {
    z-index: -1;
  }
}

.about-hello {
  margin-left: 83px; // Roughly aligned with page text
  margin-top: 1%;
  width: 38%;

  @media only screen and (min-width: 1330px) {
    margin-top: 45px;
    width: 500px;
  }

  @media #{$breakpoint-small} {
    margin-left: 5%;
    margin-top: -6%;
  }
}

.about-story {
  margin-top: 1em;

  p {
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 1.6em;
    text-align: justify;
    hyphens: auto;

    &:first-child {
      text-indent: 0;
    }

    // Drop cap
    &:first-child:first-letter {
      display: block;
      float: left;
      font-size: 3.9em;
      line-height: 1;
      margin-right: 20px;
      padding: 0 23px;
      text-shadow: 5px 4px 0px rgba(0, 0, 0, 0.2);
      border: 3px solid $gray-80;
      background: radial-gradient(white 30%, $gray-0);
      border-radius: 0 13px;
      box-shadow: inset 0 0 0px 3px $gray-70, 6px 6px 0 $gray-80;
    }
  }
}

.pullquote {
  float: right;
  width: 300px;
  margin: 0 0 1em 2em;
  background: white;
  border-left: 0;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,0.1);
  padding: 1em;
  margin-right: -100px;
}

.about-popular-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.about-beliefs {
  background-color: $accent-color;
  color: $text-on-accent;
  padding: 110px 0 100px 0;
  margin-top: -110px; // So the cards overlap it

  // Section swathes
  background-image:
    radial-gradient(ellipse farthest-side at top left, $bg-color 0%, $bg-color 99%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(ellipse farthest-side at bottom right, $bg-color 0%, $bg-color 99%, transparent 100%);
  background-size: 110% 60px, 110% 80px;
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  // So the section expands from edge to edge
  @media #{$breakpoint-small} {
    margin-left: -6%;
    width: 112%;
  }

  .about-content {
    max-width: 55em; // Make this section a bit wider
    width: 90%;
    padding: 0 inherit;
    padding-left: 8%;
  }

  h2 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 0.6em;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      align-items: start;
      text-align: justify;
      hyphens: auto;

      &::before {
        content: "\261E";
        font-size: 1.8em;
        margin-right: 0.5em;
        margin-top: -6px;
      }
    }
  }
}
