*, *::before, *::after {
  @include box-sizing(border-box);
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: "minion-pro", Georgia, serif;
  font-size: 20px;
  line-height: 1.4;

  // OpenType features: kerning, ligatures
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

  // Font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$breakpoint-small} {
    padding: 0 5%;
  }
}

::selection {
  background: $primary-color;
  color: #f7f4ee; // Just a bit darker than the background
}

::-moz-selection {
  background: $primary-color;
  color: #f7f4ee;
}

/* Font styles: see developer.yahoo.com/yui/fonts/ for more info */
h1 {
  font-size: 2em;
  font-weight: 800;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-font-stack;
  margin-bottom: 0.5em;
  margin-top: 0.8em;

  a {
    color: $text-color;
    text-decoration: none;

    &:visited {
      color: $text-color;
    }

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

article {
  margin-bottom: 3em;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

// Transition the color in and out for all links
a,
a:hover {
  @include single-transition();
}

a {
  color: $link-color;
  text-decoration: underline;

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    text-decoration: none;
  }
}

code,
pre {
  font-size: 0.9em;
}

pre,
.highlight {
  @include border-radius(3px);
  background-color: $light-gray-background-color;
  border: 1px solid $light-gray-border-color;
  padding: 0.75em;
}

code {
  color: $primary-color;
}

blockquote {
  border-left: 1px solid $light-gray; // $light-gray-border-color;
  color: lighten($de-emphasized-text, 5%); // lighten($black, 20%);
  margin: 0;
  padding-left: 1em;
}

hr {
  border: 0;
  border-top: 1px solid $light-gray;
  margin: 1.75em 2.5em;
}

/**
 * Utility classes
 */

.text-small-caps {
  font-variant: small-caps;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-small {
  font-size: 0.7em;
}

/**
 * Layout styles (nav, content, etc.)
 */
#main {
  margin-left: 10%;
  max-width: 1000px;
  min-width: 500px;
  overflow: hidden;
  width: 80%;

  img {
    max-width: 100%; // Ensure images stay within the main content at any size
  }

  @media #{$breakpoint-small} {
    margin-left: 0;
    min-width: initial;
    width: 95%;
  }
}

// Styles used by elements who
%main-column-styles {
  padding-left: $content-left-gutter;

  @media #{$breakpoint-small} {
    padding-left: 0; // Relies on the body's margin to keep content from the very edge
  }
}

header {
  margin-bottom: 2.3em;
  overflow: hidden;
  width: 100%;

  @media #{$breakpoint-small} {
    margin-bottom: 0.5em;
  }
} // header

// The JZ monogram!
.monogram {
  display: inline-block;
  height: $monogram-width;
  margin: 0;
  margin-top: 15px;
  overflow: hidden;
  position: fixed;
  width: $monogram-width;

  img {
    width: 100%;
    height: 100%;
  }

  @media #{$breakpoint-small} {
    position: relative;
    width: 70px;
    height: 70px;
  }
} // .monogram

.nav-main {
  @extend %main-column-styles;
  display: inline-block;
  width: 100%;

  ul {
    border-bottom: 1px solid $black; // desaturate(lighten($black, 30%), 45%);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  li {
    display: inline-block;

    &:last-child a {
      padding-right: 2px; // Looks better pushed away from the right edge slightly
    }
  }

  a {
    color: $black;
    display: block;
    font-family: $sans-serif-font-stack;
    font-size: 1.3em;
    font-weight: 400;
    padding: 0.3em;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  } // a

  @media #{$breakpoint-small} {
    float: right;
    width: 75%;

    a {
      font-size: 1em;
    }
  }

  // Special breakpoint in case someone is on an old phone
  @media only screen and (max-width: 350px) {
    width: 70%;
  }
} // .nav-main

.nav-main--light {
  ul {
    border-bottom: 0;
  }

  a {
    color: #ccc;
    mix-blend-mode: screen;
  }
}

.content {
  @extend %main-column-styles;
}

#site-footer {
  $footer-text-color: darken($light-gray, 15%);

  border-top: 1px solid $light-gray-border-color;
  color: $footer-text-color;
  font-size: 0.75em;
  margin-left: $content-left-gutter;
  margin-top: 3em;

  a {
    color: $footer-text-color;
  }

  @media #{$breakpoint-small} {
    margin-left: 0;
  }
}

// A link to the full blog article (on the archive)
.post-teaser {
  color: inherit;
  text-decoration: none;

  &:hover {
    @include border-radius(3px);
    background-color: $light-gray-background-color;
    border: $light-gray-border-color;
    text-decoration: none;

    h3 {
      color: $primary-color;
    }
  }
} // .post-teaser

// Links to previous/next articles
.article-links {
  display: table;
  width: 100%;

  > div {
    display: table-cell;

    &:first-child {
      padding-right: 1em;
    }

    &:last-child:not(:first-child) {
      padding-left: 1em;
      text-align: right;
      width: 50%;
    }
  }
}

.article-link-label {
  display: block;
}

.article__title {
  margin-top: 0.1em;

  + .article__subtitle {
    margin-top: -0.25em;
  }
}

.article__subtitle {
  color: $de-emphasized-text;
  margin-bottom: 0.8em;
}

.article__date {
  color: $de-emphasized-text;
  font-size: 0.8em;
}

.article__footer {
  $border-style: 1px solid $light-gray;
  border-bottom: $border-style;
  border-top: $border-style;
  font-family: $sans-serif-font-stack;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 2em;
  padding: 0.8em 0;
}

// Archive styles
.archives__post-date {
  font-style: italic;
}
