@font-face {
  font-family:"ITC Souvenir W03 Bold";
  src:url("/fonts/5728389/9a143efc-9da1-42b2-84ba-49195a7c9e2c.eot?#iefix");
  src:url("/fonts/5728389/9a143efc-9da1-42b2-84ba-49195a7c9e2c.eot?#iefix") format("eot"),url("/fonts/5728389/1d1f6646-60ca-45c9-9cf8-355ce161e534.woff2") format("woff2"),url("/fonts/5728389/2a5081bc-f764-46b5-92e7-14fe6b2aba75.woff") format("woff"),url("/fonts/5728389/5d6bbf9d-ea35-4c5d-8256-e8cbb4d953a8.ttf") format("truetype");
}

@font-face {
  font-family:"ITC Souvenir W03 Bold Italic";
  src:url("/fonts/5728395/56a28c44-081f-4383-ac0f-36bcadbd2fe9.eot?#iefix");
  src:url("/fonts/5728395/56a28c44-081f-4383-ac0f-36bcadbd2fe9.eot?#iefix") format("eot"),url("/fonts/5728395/5e2136cb-a1fd-4388-a4a1-f1d6169ba307.woff2") format("woff2"),url("/fonts/5728395/94ff745f-d465-4695-85a0-0693cd6ae546.woff") format("woff"),url("/fonts/5728395/61981287-2b71-4920-a2a1-c171e2b70d2f.ttf") format("truetype");
}

@font-face{
  font-family:"ITC Souvenir W05 Medium";
  src:url("/fonts/5728367/7184519c-399c-4e5a-9738-4a3d127d04b0.woff2") format("woff2"),url("Fonts/5728367/237f7597-37ce-4f97-ba07-eae3da404a33.woff") format("woff");
}
