/***
 * HTML-based resume styles
 ***/

.resume {
  h1, h2, h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  section {
    margin-top: 1.5em;
  }

  .section-title,
  .section-content {
    display: inline-block;
    vertical-align: top;
  }

  .section-title {
    width: 28%;

    h2 {
      color: #444;
      font-weight: normal;
    }
  }

  .section-content {
    padding-top: .7em;
    width: 71%; /* Must add up to less than 100% due to whitespace between elements */

    h3 {
      font-size: 1.2em;
      margin-bottom: 0;
    }

    > div {
      margin-bottom: 1.5em;
    }
  }

  .subhead {
    margin-bottom: .5em;
  }

  .title {
    color: $primary-color;
    font-weight: bold;
  }

  .dates {
    float: right;
    font-style: italic;
    color: #444;
  }

  .sc {
    font-size: 1.1em;
    font-variant: small-caps;
  }
}
