/**
 * Variables used throughout the stylesheets.
 */

// Colors
$primary-color: #2F8C68; // #0E7575;
$bg-color: #FCFBF8; // #fcfcf9;
$black: #061519;
$text-color: $black;
$link-color: $black;
$link-color-visited: #555d5f;
$de-emphasized-text: desaturate(lighten($black, 12%), 45%);
$light-gray: desaturate(lighten($black, 70%), 60%);
$light-gray-background-color: #f8f8f5;
$light-gray-border-color: #e8e8e5;

// Font variables
$sans-serif-font-stack: 'myriad-pro', Verdana, sans-serif;

// Transitions
$default-transition-property: color;
$default-transition-duration: .25s;

// Monogram variables
$monogram-width: 100px;
$monogram-right-gutter: 30px;
$content-left-gutter: $monogram-width + $monogram-right-gutter;

// Mobile vars
$breakpoint-small: "only screen and (max-width: 700px)";
