/**
 * Variables used throughout the stylesheets.
 */

// Colors
$primary-color: #2F8C68; // #0E7575;
$bg-color: hsla(53, 53%, 98%, 1);
$black: hsl(43, 88%, 7%);
$text-color: $black;
$link-color: $black;
$link-color-visited: hsl(37, 11%, 28%);
$de-emphasized-text: hsl(40, 13%, 23%);
$light-gray: hsl(40, 15%, 80%);
$light-gray-background-color: hsl(40, 23%, 97%);
$light-gray-border-color: hsl(43, 13%, 90%);

// Shadows
$light-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.12);
$medium-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.06);

// Font variables
$sans-serif-font-stack: 'myriad-pro', Verdana, sans-serif;

// Transitions
$default-transition-property: color;
$default-transition-duration: .25s;

// Monogram variables
$monogram-width: 100px;
$monogram-right-gutter: 30px;
$content-left-gutter: $monogram-width + $monogram-right-gutter;

// Mobile vars
$breakpoint-small: "only screen and (max-width: 700px)";
