/**
 * Variables used throughout the stylesheets.
 */

:root {
  --cs-hero-image-height: 35%;
}

// Colors

// Grays - darkest to lightest
$gray-95: hsl(43, 88%, 7%);
$gray-90: hsl(42, 15%, 13%);
$gray-80: hsl(40, 13%, 23%);
$gray-70: hsl(37, 11%, 28%);
$gray-60: hsl(41, 9%, 35%);
$gray-50: hsl(41, 8%, 48%);
$gray-40: hsl(41, 8%, 61%);
$gray-30: hsl(39, 11%, 69%);
$gray-20: hsl(40, 15%, 80%);
$gray-10: hsl(43, 13%, 90%);
$gray-0: hsl(40, 23%, 97%);

$light-brown: hsla(28, 52%, 27%, 1);
$lighter-brown: hsla(30, 35%, 38%, 1);
$lightest-brown: hsl(44deg, 49%, 51%);

// Monogram colors
$monogram-shadow: #3DBBD3;
$monogram-light-blue: #ADEBEF;
$monogram-green: #CCF7AA;
$monogram-yellow: #FCF398;
$monogram-orange: #FED874;

// Site colors
$primary-color: #87DADF; // #2F8C68;
$accent-color: hsl(183deg, 100%, 33%);
$selection-color: hsla(184, 76%, 83%, 1);
$button-text-color: #03587A;
$bg-color: #FFFEF6;
$black: $gray-95;
$text-color: #4B2502; // $black;
$text-on-accent: hsla(179, 39%, 99%, 1);
$de-emphasized-text: $gray-80;
$light-gray: $gray-20;
$light-gray-background-color: $gray-0;
$light-gray-border-color: $gray-10;
$code-highlight-color: hsla(59, 46%, 96%, 0.8);

// Shadows
$lightest-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.14);
$light-shadow: 0 3px 6px rgba(75,37,2,0.15), 0 2px 4px rgba(75,37,2,0.12);
$medium-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.06);
$inset-code-shadow: inset 0 0 3px rgba(0,0,0,0.1), inset 0 0 1px rgba(0,0,0,0.1);

// Font variables
$headline-font-stack: "ITC Souvenir W03 Bold", Georgia, serif;
$headline-light-font-stack: "ITC Souvenir W05 Medium", Georgia, serif;
$body-font-stack: mrs-eaves-xl-serif, Georgia, serif;
$sans-serif-font-stack: gill-sans-nova, Verdana, sans-serif;

// Type scale
$body-font-size: 21px;
$body-font-line-height: 1.4;

// Transitions
$default-transition-property: color;
$default-transition-duration: .25s;
$faster-transition-duration: 0.15s;

// Monogram variables
$monogram-width: 100px;
$monogram-right-gutter: 30px;
$content-left-gutter: $monogram-width + $monogram-right-gutter;

// Mobile vars
$breakpoint-small: "only screen and (max-width: 600px)";
$breakpoint-med: "only screen and (max-width: 850px)";
