@import "compass";

// Colors
$primary-color: #185d72;
$bg-color: #fcfcfa;
$black: #061519;
$de-emphasized-text: desaturate(lighten($black, 12%), 45%);
$light-gray: desaturate(lighten($black, 70%), 60%);

// Transitions
$default-transition-property: color;
$default-transition-duration: .25s;

// Width of the content, nav, footer, etc.
$main-column-width: 83%;
$monogram-width: 100px;
$gutter: 30px;

// Import these after so the variables are available to them
@import "normalize";
@import "resume";
@import "syntax-highlighting";

* {
  @include box-sizing(border-box);
}

body {
  background-color: $bg-color;
  color: $black;
  font-family: "Minion Pro", Georgia, serif;
  font-size: 20px;
  line-height: 1.4;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 960px), only screen and (min-device-pixel-ratio: 1.5) and (max-device-width: 960px) {
    font-size: 1.5em;
  }
}

/* Font styles: see developer.yahoo.com/yui/fonts/ for more info */
h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.67em;
  margin-top: 0.8em;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

article {
  margin-bottom: 3em;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

// Transition the color in and out for all links
a,
a:hover {
  @include single-transition();
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

code,
pre {
  font-size: 0.9em;
}

pre,
.highlight {
  @include border-radius(3px);
  background-color: #f8f8f5;
  border: 1px solid #e8e8e5;
  padding: 0.75em;
}

time {
  color: $de-emphasized-text;
  font-size: 0.8em;

  + h1 {
    margin-top: 0.1em;
  }
}

/**
 * Layout styles (nav, content, etc.)
 */
#main {
  margin-bottom: 3em;
  margin-left: 10%;
  max-width: 1000px;
  min-width: 700px;
  overflow: hidden;
  width: 80%;
}

// Styles used by elements who
%main-column-styles {
  margin-left: $monogram-width + $gutter;
  width: $main-column-width;
}

header {
  margin-bottom: 1.5em;
  overflow: hidden;
  width: 100%;
} // header

// The JZ monogram!
.monogram {
  display: inline-block;
  height: $monogram-width;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: $monogram-width;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav-main {
  @extend %main-column-styles;
  border-bottom: 1px solid $black; // desaturate(lighten($black, 30%), 45%);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  li {
    display: inline-block;

    &:last-child a {
      padding-right: 2px; // Looks better pushed away from the right edge slightly
    }
  }

  a {
    color: $black;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    padding-bottom: 0.3em;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  } // a
} // .nav-main

.content {
  @extend %main-column-styles;
}

// footer {
//   @extend %main-column-styles;
// }

/**
 * Tags at the end of each article
 */
.tags {
  $border-style: 1px solid $light-gray;
  border-bottom: $border-style;
  border-top: $border-style;
  font-size: 0.7em;
  margin-top: 2em;
  padding-bottom: 0.8em; // These values differ to make the text more visually centered
  padding-top: 1em;
  text-transform: uppercase;

  a {
    margin: 0 1.5em;
  }
}
