@import "compass"

$dark-blue: #00294C
$dark-brown: #190F00
$light-blue: #66C7FF
$light-brown: #E5DDC3

// Transitions
$default-transition-property: color
$default-transition-duration: .3s

*
  +box-sizing(border-box)

body
  background-color: $light-brown
  background-image: url('/images/texture.png')
  // padding-bottom: 10em

  font-family: 'PT Sans', helvetica, arial, sans-serif
  font-size: 16px
  line-height: 1.4
  text-align: center

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 960px), only screen and (min-device-pixel-ratio: 1.5) and (max-device-width: 960px)
    font-size: 1.5em

/* Font styles: see developer.yahoo.com/yui/fonts/ for more info */
h1
  font-size: 2.2em

h2
  font-size: 1.75em

h3
  font-size: 1.5em

h1, h2, h3, h4, h5, h6
  color: black
  font-family: 'Vollkorn', serif
  margin-bottom: 0.5em
  margin-top: 1em

p
  line-height: 1.6
  margin-bottom: 1em
  margin-top: 0.5em

// Transition the color in and out for all links
a, a:hover
  +single-transition()

#main
  position: relative
  z-index: 10

@media only screen
  /* Overlays a sweet vignette on the page contents */
  #vignette
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    +background-image(radial-gradient(color-stops(rgba(0,0,0,0), rgba(0,0,0,0) 85%, rgba(0,0,0,0.2) 100%), center ellipse))

header
  margin-bottom: 1.5em
  margin-top: 45px
  padding: 0 20%

  background-color: $dark-brown
  text-align: left
  hgroup
    display: inline-block
    &.name
      width: 60%
    &.nav
      width: 39%
      text-align: right
      vertical-align: baseline

  h1
    font-size: 55pt
    margin: 0

    @media screen and (max-device-width: 960px)
      font-size: 50pt

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 960px), only screen and (min-device-pixel-ratio: 1.5) and (max-device-width: 960px)
    padding: 0 10%

  a
    color: $light-brown
    font-weight: normal
    text-decoration: none
    &:hover
      text-decoration: none
    &:active
      color: $light-blue
    &.current
      color: $light-blue
  nav a
    font-size: 1.25em
    &:hover
      color: $light-blue
    &:active
      color: $light-blue
    &:first-child
      margin-right: 1em

article
  padding: 0 20%
  padding-bottom: 15%
  text-align: left

  &.project_desc img
    float: left
    margin-bottom: 1em
    margin-right: 1em
    max-width: 60%

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 960px), only screen and (min-device-pixel-ratio: 1.5) and (max-device-width: 960px)
    font-size: 40px
    padding: 0 10%

    &.project_desc img
      float: none
      margin-right: 0
      max-width: inherit
      width: 100%
    h1
      font-size: 1.5em

blockquote
  clear: both
  color: #444
  font-style: italic
  padding: 0 2em

/***
 * Main page project previews
 ***/

.project_preview
  display: inline-block
  margin-bottom: 1em
  padding-bottom: 1em
  vertical-align: top
  width: 46%
  a
    display: block
    height: 100%
    width: 100%
  img
    +box-shadow(0 0 10px 0 rgba(0,0,0,.25))
    display: block
    margin-bottom: 1em
    width: 100%
  &:nth-child(odd)
    margin-right: 8%

  @media all and (max-width: 700px), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
    margin-right: 0
    width: 100%

a
  color: $dark-blue
  &#resume
    font-size: 42px
  &:hover
    text-decoration: none
  &:active
    color: $light-blue

.highlight, a.highlight
  color: $light-blue
  text-decoration: none

/***
 * Footer and contact info
 ***/

#contact
  padding: 2em 20%
  padding-bottom: 4em
  text-align: left
  background-color: $dark-brown
  // These two rules place it above the vignette
  position: relative
  z-index: 10

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 960px), only screen and (min-device-pixel-ratio: 1.5) and (max-device-width: 960px)
    padding: 2em 10%
  ul
    list-style: none
    margin: 0
    li
      display: inline-block
      width: 25%
      &, a
        color: lighten($dark-brown, 25%)
        text-decoration: none
      a:hover
        color: $light-brown

/***
 * Resume
 ***/

.resume
  h1, h2, h3
    margin-top: 0
  p
    margin-bottom: 0
    margin-top: 0
  a
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline

  section
    margin-top: 1.5em

  .section-title, .section-content
    display: inline-block
    vertical-align: top

  .section-title
    width: 28%
    h2
      color: #444
      font-weight: normal

  .section-content
    padding-top: .7em
    width: 71% /* Must add up to less than 100% due to whitespace between elements */
    h3
      font-size: 1.2em
      margin-bottom: 0
    > div
      margin-bottom: 1.5em

  .subhead
    margin-bottom: .5em

  .title
    color: $dark-blue
    font-weight: bold

  .dates
    float: right
    font-style: italic
    color: #444

  .sc
    font-size: 1.1em
    font-variant: small-caps
