body {
  background-color: #E5DDC3;
  background-image: -webkit-radial-gradient(center, ellipse closest-side, rgba(0,0,0,0), rgba(0,0,0,0) 120%, rgba(0,0,0,.2) 140%), url('../imgs/texture.png');
  padding-bottom: 10em;
  text-align: center;
}

h1, h1 a {
  background-color: #190F00;
  color: #E5DDC3;
  font-family: 'Vollkorn', serif;
  font-size: 100pt;
  font-weight: normal;
}

h1 {
  -moz-box-shadow: 0 3px 3px 0 #444;
  -webkit-box-shadow: 0 3px 3px 0 #444;
  box-shadow: 0 3px 3px 0 #444;
  margin-top: 8%;
}

#about {
  margin: 0 20%;
  margin-bottom: 3em;
  text-align: left;
}

#projects {
  margin: 0 10%;
  margin-bottom: 3em;
  text-align: left;
}

#projects p > a {
  display: inline-block;
  font-size: 25px;
  margin-right: 1em;
  text-align: right;
  vertical-align: top;
  width: 40%;
}

#projects span {
  display: inline-block;
  text-align: left;
  width: 50%;
}

a {
  color: #00294C;
}

a#resume { font-size: 42px; }

a:hover {
  text-decoration: none;
}

a:active {
  color: #66C7FF;
}

.highlight {
  color: #66C7FF;
  text-decoration: none;
}
/* Light blue: color: #66C7FF; */