@import "compass"

*
  box-sizing: border-box
  -moz-box-sizing: border-box

body
  background-color: #E5DDC3
  background-image: url('/images/texture.png')
  padding-bottom: 10em
  text-align: center

#main
  position: relative
  z-index: 10

/* Overlays a sweet vignette on the page contents */
#vignette
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  +background-image(radial-gradient(color-stops(rgba(0,0,0,0), rgba(0,0,0,0) 85%, rgba(0,0,0,0.2) 100%), center ellipse))

.name
  background-color: #190F00
  font-size: 70pt
  margin-top: .5em
  padding-left: 20%
  text-align: left
  a
    color: #E5DDC3
    font-weight: normal
    text-decoration: none
    &:hover
      text-decoration: none

article
  padding: 0 20%
  text-align: left
  &.project_desc img
    float: left
    margin-bottom: 1em
    margin-right: 1em
    max-width: 60%

blockquote
  clear: both
  color: #444
  font-style: italic
  padding: 0 2em

.project
  display: inline-block
  margin-bottom: 1em
  margin-right: 1em
  min-height: 100px
  padding: 0 1em 1em 0
  vertical-align: top
  width: 47%
  a
    display: block
    height: 100%
    width: 100%
  img
    +box-shadow(0 0 10px 0 rgba(0,0,0,.25))
    display: block
    margin-bottom: 1em
    width: 100%

a
  color: #00294C
  &#resume
    font-size: 42px
  &:hover
    text-decoration: none
  &:active
    color: #66C7FF

.highlight, a.highlight
  color: #66C7FF
  text-decoration: none

/* Light blue: color: #66C7FF;
