@import "fonts";
@import "variables";

/**
 * Styles shared between print and screen
 */

h3 time {
  color: $light-brown;
  float: right;
  font-size: 0.65em;
  margin-top: 7px;
}

ul {
  padding-left: 1em;
}

#jeff-zych {
  display: inline-block;
  font-size: 41px;
  margin-bottom: 12px;
  margin-top: 15px;
  line-height: 1;
}

// Bring my name and experience header together
#experience {
  margin-top: 14px;
}

/**
 * Screen styles
 */

@media screen {
  #jeff-zych {
    & + ul {
      display: none;
    }
  }
}

/**
 * Print styles
 */

@media print {
  html {
    margin: 0;
    padding: 0;
  }

  body {
    color: $text-color;
    font-family: $body-font-stack;
    font-size: 16px;
    line-height: 1.4;
    margin: 1em;
    margin-right: 50px;
    padding: 0;

    // OpenType features: kerning, ligatures
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "alt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

  h1, h2, h3 {
    font-family: $headline-font-stack;
  }

  h3 {
    margin-bottom: 0.3em;
  }

  #jeff-zych + ul {
    list-style: none;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    font-size: 0.9em;
    text-align: right;
    float: right;

    li {
      margin-bottom: 0;
    }
  }

  // Stuff we're hiding when printing
  .nav-main,
  #site-footer,
  #print-friendly {
    display: none;
  }

  .monogram {
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 5px;
    margin-top: 0;
    overflow: hidden;
    width: 80px;
    height: 80px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    margin-left: 100px;

    ul, p {
      margin-top: 0;
    }
  }

  a,
  a:active,
  a:visited {
    color: $text-color;
    text-decoration: none;
  }

  // Don't show youtube and skillshare links because they're long and ugly
  a[href]:not([href*="youtube.com"]):not([href*="skillshare.com"])::after {
    content: " (" attr(href) ")";
    font-size: 0.75em;
  }

  li {
    margin-bottom: 0.5em;
  }
}
