<% wrap_layout :layout do %>
  <%= partial :post, locals: { article: current_article } %>

  <div class="article-links">
    <% previous_article = current_article.previous_article %>
    <% if previous_article %>
      <div>
        <span class="article-link-label text-uppercase text-small">Previous article</span>
        <%= link_to "&laquo; #{previous_article.title}", previous_article %>
      </div>
    <% end %>

    <% next_article = current_article.next_article %>
    <% if next_article %>
      <div>
        <span class="article-link-label text-uppercase text-small">Next article</span>
        <%= link_to "#{next_article.title} &raquo;", next_article %>
      </div>
    <% end %>
  </div>
<% end %>
