-wrap_layout :layout do
  =partial :post, locals: { article: current_article }

  .article-links
    - previous_article = current_article.previous_article
    - if previous_article
      %div
        %span.article-link-label.text-uppercase.text-small Previous article
        = link_to "&laquo; #{previous_article.title}", previous_article

    - next_article = current_article.next_article
    - if next_article
      %div
        %span.article-link-label.text-uppercase.text-small Next article
        = link_to "#{next_article.title} &raquo;", next_article
