%footer#site-footer
  %p
    = "&copy; 2010&ndash;#{Time.now.year} Jeff Zych"
    &bull; Hand-crafted with
    = link_to "Middleman", "http://middlemanapp.com/"

  =link_to "Google+ profile", "http://plus.google.com/+JeffZych?rel=author", { style: "display: none;" }
