%h1.monogram
  =link_to "/", { title: "Home" } do
    =image_tag "monogram.svg", { alt: "JZ" }
    %span.name Jeff Zych

- @nav_classes = "nav-main"
- if defined? nav_classes
  - @nav_classes += " #{nav_classes}"

%nav{ :class => @nav_classes }
  %ul
    %li=link_to "About Me", "/about", { title: "About Jeff Zych" }
    %li=link_to "Archives", "/archives"
