<h1 class="monogram">
  <a href="/" title="Home">
    <%= partial "monogram" %>
    <span class="name">Jeff Zych</span>
  </a>
</h1>

<%= partial "nav", locals: { nav_classes: defined?(nav_classes) ? nav_classes : nil } %>
