---
title: "Contact Me"
---

%ul
  %li Email: jlzych [at] gmail [dot] com
  %li=link_to "Github", "http://github.com/jlzych"
  %li=link_to "Twitter", "http://twitter.com/jlzych"
  %li=link_to "Resume (pdf)", "http://people.ischool.berkeley.edu/~jlzych/JeffZych_Resume.pdf"
