---
title: "LaunchDarkly's Accelerate"
subtitle: "Designing LaunchDarkly's third product from the ground up"
description: "TK"
relative_image_url: /images/case-studies/accelerate/1-accelerate-final.png
layout: case_study_layout
---

%h1.article__title= current_page.data.title

%h2.article__subtitle= current_page.data.subtitle

=partial "case-study_accelerate"
