---
title: "Gladly’s Actions API"
description: "Designing a way for agents to trigger actions in external systems, without leaving Gladly"
relative_image_url: /images/case-studies/gladly-actions-api/4-mid-fi-with-errors.jpg
---

%h1.article__title= current_page.data.title

%h2.article__subtitle= current_page.data.description

=partial "case-study_actions-api-text"
