---
title: "Gladly’s Actions API"
description: "Designing a way for developers to bring actions directly into Gladly"
relative_image_url: /images/case-studies/gladly-actions-api/1-final-cancel-markedup.png
---

%h1.article__title= current_page.data.title

%h2.article__subtitle= current_page.data.description

=partial "case-study_actions-api-text"
