---
title: "LaunchDarkly Workflow Builder"
subtitle: "How I translated a founder's vision into reality"
description: "Designing LaunchDarkly's Workflow Builder: a visual way to automate launches with feature flags"
relative_image_url: /images/case-studies/workflow-builder/1-finished-wfb.png
layout: case_study_layout
---

%h1.article__title= current_page.data.title

%h2.article__subtitle= current_page.data.subtitle

=partial "case-study_workflow-builder-text"
