---
title: "LaunchDarkly Workflow Builder"
subtitle: "How I translated a founder's vision into reality"
description: "TK"
relative_image_url: /images/case-studies/discovery-kanban/4-fullwall.jpg
---

%h1.article__title= current_page.data.title

%h2.article__subtitle= current_page.data.subtitle

=partial "case-study_workflow-builder-text"
