---
title: "Implementing a Discovery process at Optimizely"
subtitle: "How I reduced cost, increased revenue, and improved product quality by creating an explicit Discovery phase"
description: "I implemented a new way of building product that included an explicit discovery phase that made space for customer development, problem understanding, and solution exploration, before jumping into code. It doubled velocity, improved product quality and team morale, and increased revenue while decreasing costs."
relative_image_url: /images/case-studies/optimizely-discovery-kanban/4-fullwall.jpg
---

%h1= current_page.data.title

%h2.article__subtitle= current_page.data.subtitle

/ :markdown
/   > **Short on time? Key takeaways**
/   >
/   > - Implemented a new way of building product that included an explicit discovery phase that made space for customer development, problem understanding, and solution exploration, before jumping into code.
/   > - Doubled design and engineering velocity
/   > - Increased product quality (fewer bugs, more UI polish)
/   > - Increased revenue
/   > - Decreased development costs
/   > - Decreased churn

=partial "case-study_discovery-kanban-text"
