---
title: "Implementing a Discovery process at Optimizely"
subtitle: "How I reduced cost, increased revenue, and improved product quality by creating an explicit Discovery phase"
description: "I implemented a new way of building product that included an explicit discovery phase that made space for customer development, problem understanding, and solution exploration, before jumping into code. It doubled velocity, improved product quality and team morale, and increased revenue while decreasing costs."
relative_image_url: /images/case-studies/discovery-kanban/4-fullwall.jpg
---

<h1 class="article__title"><%= current_page.data.title %></h1>

<h2 class="article__subtitle"><%= current_page.data.subtitle %></h2>

<%= partial "case-study_discovery-kanban-text" %>
