---
title: "Transforming Optimizely's product development process by focusing on customer needs"
description: "I implemented a new way of building product that included an explicit discovery phase that made space for customer development, problem understanding, and solution exploration, before jumping into code. It doubled velocity, improved product quality and team morale, and increased revenue while decreasing costs."
---

%h1= current_page.data.title

/ :markdown
/   > **Short on time? Key takeaways**
/   >
/   > - Implemented a new way of building product that included an explicit discovery phase that made space for customer development, problem understanding, and solution exploration, before jumping into code.
/   > - Doubled design and engineering velocity
/   > - Increased product quality (fewer bugs, more UI polish)
/   > - Increased revenue
/   > - Decreased development costs
/   > - Decreased churn

=partial "case-study_discovery-kanban-text"
