---
title: "Redesigning Pragma's Web Portal"
subtitle: "From Hidden Features to a Scalable IA with Modern UI"
description: "Redesigning Pragma's web portal to improve information architecture and user experience"
relative_image_url: /images/case-studies/pragma-web-portal/2-after.png
layout: case_study_layout
---

%h1.article__title= current_page.data.title

%h2.article__subtitle= current_page.data.subtitle

=partial "case-study_pragma-web-portal-text"
