---
title: About
---

%p
  I am a
  %strong UI Engineer
  for
  = link_to "Optimizely", "http://www.optimizely.com", { :title => "Optimizely," }
  in charge of crafting beautiful HTML, CSS, and JS for their website. I also apply insights from
  %strong behavioral economics
  to web design, which I write about in my blog series,
  = link_to "Testing Theory.", "http://blog.optimizely.com/author/jeffzych/", { :title => "Testing Theory: Academic Findings You Can Actually Use on Optimizely's blog, Conversion Rate Optimism" }
