---
title: "index"
---

%p{ :id => "about" }
  I am a 2nd year Masters student at UC Berkeley's
  = link_to "School of Information", "http://ischool.berkeley.edu", { :title => "School of Information home page" }
  , graduating in May 2012. I am focused on applying insights from behavioral economics and cognitive psychology to information systems. View some of my recent projects below:

#projects
  %h2 Projects
  - data.blog.articles.each do |article|
    - if !article.draft
      .project>
        %a{ :href => article.url, :title => article.title }
          -if article.preview_img
            = image_tag article.preview_img
          =article.title

%h2 Other links
%p
  =link_to "Github repo", "http://github.com/jlzych"
  =link_to "Twitter", "http://twitter.com/jlzych"
  =link_to "Resume (pdf)", "/JeffZych_resume.pdf"