---
title: "index"
---

%p{ :id => "about" }
  I am a
  %strong design-gineer
  for
  = link_to "Optimizely", "http://www.optimizely.com", { :title => "Optimizely," }
  in charge of crafting beautiful HTML, CSS, and JS for their website. My primary interest is applying insights from
  %strong behavioral economics
  to web design, which I write about in my blog series
  = link_to "Rationally Irrational.", "http://blog.optimizely.com/category/rationally-irrational/", { :title => "Rationally Irrational: Academic Findings You Can Actually Use on Optimizely's blog, Conversion Rate Optimism" }

%h1 Projects
%ul#projects_list
  - data.blog.articles.each do |article|
    - if !article.draft
      %li.project_preview>
        -# Strip .html from the article URLs
        %a{ :href => article.url.slice(0..-6), :title => article.title }
          -if article.preview_img
            = image_tag article.preview_img
          =article.title
