---
title: "index"
---

%p{ :id => "about" }
  I am an
  %strong interaction designer
  based in Oakland, CA. I just graduated from UC Berkeley's
  = link_to "School of Information", "http://ischool.berkeley.edu", { :title => "School of Information home page" }
  with a Master of Information Management and Systems. My primary interest is applying insights from
  %strong behavioral economics
  and
  %strong cognitive psychology
  to increase the usability and effectiveness of information systems. View some of my recent projects below:

%h2 Projects
%ul#projects
  - data.blog.articles.each do |article|
    - if !article.draft
      %li.project>
        -# Strip .html from the article URLs
        %a{ :href => article.url.slice(0..-6), :title => article.title }
          -if article.preview_img
            = image_tag article.preview_img
          =article.title

%h2 Contact
%ul
  %li Email: jlzych [at] gmail [dot] com
  %li=link_to "Github", "http://github.com/jlzych"
  %li=link_to "Twitter", "http://twitter.com/jlzych"
  %li=link_to "Resume (pdf)", "http://people.ischool.berkeley.edu/~jlzych/JeffZych_Resume.pdf"
