- page_articles[0..4].each do |article|
  =partial :post, locals: { article: article }

.justify-content-center{ :style => "padding-top: 2em; padding-bottom: 4px;" }
  =link_to "View all posts &raquo;", "/archives", { class: "view-all-link button-light button-large" }

-# - if paginate
-#   .pagination
-#     %p
-#       Page
-#       = page_number
-#       of
-#       = num_pages
-#
-#     - if prev_page
-#       = link_to "&laquo; Previous page", prev_page, { class: "paginate-previous" }
-#     - if next_page
-#       = link_to "Next page &raquo;", next_page, { class: "paginate-next" }
