!!! 5
%html
  %head>
    %meta{ :charset => 'utf-8' }
    %title
      Jeff Zych
      - if current_page.data.title
        = " - #{current_page.data.title}"

    %meta{ :content => "Jeff Zych's homepage", :name => "description" }
    %meta{ :content => "Jeff Zych", :name => "author" }
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %meta(name="apple-mobile-web-app-capable" content="yes")

    =favicon_tag "/favicon.ico"

    =stylesheet_link_tag "application"
    %link( rel="alternate" type="application/rss+xml" title="RSS for Jeff Zych" href="/feed.xml" )

    %script( type="text/javascript" src="//use.typekit.net/kbr8kzk.js" )
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    #main{ :role => "main" }
      %header
        %h1.monogram
          =link_to "/", { title: "Home" } do
            =image_tag "monogram.svg", { alt: "JZ" }
            Jeff Zych

        %nav.nav-main
          %ul
            %li=link_to "About", "/about", { title: "About Jeff Zych" }
            %li=link_to "Archives", "/archives"

      .content= yield

    / Google Analytics tracking
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21389659-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
