!!! 5
%html
  %head>
    %meta{ :charset => 'utf-8' }
    %title Jeff Zych
    %meta{ :content => "Jeff Zych's homepage", :name => 'description' }
    %meta{ :content => 'Jeff Zych', :name => 'author' }
    %link{ :href => "http://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=PT+Sans',  :rel => 'stylesheet', :type => 'text/css' }
    =stylesheet_link_tag "reset", "application"

  %body{ :id => data.page.title }
    #main{ :role => "main" }
      %header
        %hgroup.name
          %h1
            =link_to "Jeff Zych", "/", { :title => "Home" }
        %hgroup.nav
          %nav
            =link_to "Resume", "/resume", { :title => "Resume", :class => ("current" if data.page.title == "Resume") }
            =link_to "Contact", "#contact", { :title => "Contact" }

      %article= yield

    %footer#contact
      %ul
        %li>
          =mail_to "jlzych@gmail.com"
        %li>
          =link_to "github.com/jlzych", "http://github.com/jlzych"
        %li>
          =link_to "@jlzych", "http://twitter.com/jlzych"
        %li>
          =link_to "Resume (pdf)", "https://www.dropbox.com/s/1dj653zjvubj11a/JeffZych_Resume.pdf"

    / Google Analytics tracking
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21389659-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
