!!! 5
%html
  %head>
    %meta{ :charset => 'utf-8' }
    %title Jeff Zych
    %meta{ :content => "Jeff Zych's homepage", :name => 'description' }
    %meta{ :content => 'Jeff Zych', :name => 'author' }
    %link{ :href => "http://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=PT+Sans',  :rel => 'stylesheet', :type => 'text/css' }
    =stylesheet_link_tag "reset", "application"

  %body{ :id => data.page.title }
    #main{ :role => "main" }
      %h1.name
        =link_to "Jeff Zych", "/", "Home"
        %a{ :href => "http://dubster-levels.heroku.com", :class => "highlight" }><
          \.

      %article{ :class => (data.page.article_class || ('project_desc' unless data.page.title == 'index')) }
        - if data.page.title != 'index'
          -# Bug here that prints index even though it's not a blog article, hence if statement
          %h1= current_article_title
        =yield
    #vignette

    / Google Analytics tracking
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21389659-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
