---
title: "Lettering Practice"
---

%h1= current_page.data.title

%h2#playbill Playbill Practice

=image_tag "lettering/playbill.jpg"

%h2#mothersday Mother's Day

=image_tag "lettering/md-process1.jpg"

=image_tag "lettering/md-process2.jpg"

=image_tag "lettering/md-process3.jpg"

=image_tag "lettering/md-final.jpg"
%em Final card!

%h2#f F

=image_tag "lettering/f.jpg"
%em 4/24/16

%h2#g G

=image_tag "lettering/g.jpg"
%em 4/23/16

%h2#m M

=image_tag "lettering/m.jpg"
%em 4/21/16

%h2#j J

=image_tag "lettering/j.jpg"
%em 4/19/16
