---
title: Posts
description: "Blog posts by Jeff Zych on product design, creativity, and more."
pageable: true
per_page: 5
---

%h1 Posts

- page_articles.each do |article|
  =partial :post, locals: { article: article }

- if paginate
  =partial :pagination, locals: { prev_page: prev_page, next_page: next_page }
