---
title: Jeff Zych's Resume
description: Jeff Zych's online resume.
stylesheet: "resume"
---

%p#print-friendly.text-small{ :style => "text-align: center" }
  %em This page is print-friendly!

.resume
  =partial "resume_text"

