---
title: Jeff Zych's Resume
description: Jeff Zych's online resume.
stylesheet: "resume"
---

<p id="print-friendly" class="text-small" style="text-align: center">
  <em>Try printing this page!</em>
</p>

<div class="resume">
  <%= partial "resume_text" %>
</div>
