---
title: "Scribbles & Letters"
---

%h1= current_page.data.title

%h2#ocean Ocean / Sail Away

=image_tag "scribbles/1703-2-ocean.jpg"

%h2#b1 B

=image_tag "scribbles/1703-1-B.jpg"

%h2#blends Blending Pen

=image_tag "scribbles/1702-5-blends.jpg"

%p Just figured out how to use my blending pen, so this is me playing around with that.

%h2#erstwhile Erstwhile

=image_tag "scribbles/1702-4-erstwhile.jpg"

%h2#every Every

=image_tag "scribbles/1702-3-every.jpg"

%h2#zoology Zoology

=image_tag "scribbles/1702-2-zoology.jpg"

%h2#guest Guest

=image_tag "scribbles/1702-1-guest.jpg"



%h2#purple-haze Purple Haze

=image_tag "scribbles/1701-16-purple-haze.jpg"

%p Close-up of the shitty job I did outlining "Sky." Enjoy.

%h2#colors Colors!

=image_tag "scribbles/1701-15-colors.jpg"

=image_tag "scribbles/1701-15-colors2.jpg"

%p
  Just got some
  %a(href="http://tombowusa.com/dual-brush-pen-784.html") Tombow Dual Brush pens.
  Pretty sweet.

%h2#alpha-caps More alphabet. Caps.

=image_tag "scribbles/1701-14-alpha-caps.jpg"

%h2#breathe Breathe

=image_tag "scribbles/1701-13-breathe.jpg"

%h2#stay Stay

=image_tag "scribbles/1701-12-stay.jpg"

%h2#bullocks Bullock's

=image_tag "scribbles/1701-11-bullocks.jpg"

%h2#wait Wait, but Why?

=image_tag "scribbles/1701-10-wait1.jpg"

=image_tag "scribbles/1701-10-wait2.jpg"

%h2#alphabet-swashes Alphabet; Swashes

=image_tag "scribbles/1701-9-alphabet-swashes.jpg"

%h2#home Home

=image_tag "scribbles/1701-8-home.jpg"

%h2#you-my-are You. My. Are.

=image_tag "scribbles/1701-7-you-my-are.jpg"

%h2#arden Arden

=image_tag "scribbles/1701-6-arden.jpg"

%h2#linesdots Lines n' Dots

=image_tag "scribbles/1701-5-linesdots.jpg"

%h2#happy Happy :)

=image_tag "scribbles/1701-4-happy.jpg"

%h2#angle-flower Angle. Flower.

=image_tag "scribbles/1701-3-angle-flower.jpg"

%h2#green Green

=image_tag "scribbles/1701-2-green.jpg"

%h2#alphabet1 Alphabet

=image_tag "scribbles/1701-1-alphabet.jpg"

%h2#sunset Sunset

=image_tag "scribbles/1612-30-sunset.jpg"

%h2#puzzle Puzzle

=image_tag "scribbles/1612-29-puzzle.jpg"

%h2#girlfriends Girlfriends

=image_tag "scribbles/1612-27-girlfriend.jpg"

=image_tag "scribbles/1612-28-girlfriend.jpg"

%h2#bb bb

=image_tag "scribbles/1612-26-bb.jpg"

%h2#angle Angle

=image_tag "scribbles/1612-25-angle.jpg"

%h2#southwest Southwest

=image_tag "scribbles/1612-24-southwest.jpg"

%p My Southwest flight back to the bay was delayed, so I scribbled out some Southwests.

%h2#a a

=image_tag "scribbles/1612-23-a.jpg"

%h2#xmas Merry Christmas!

=image_tag "scribbles/1612-22-christmas.jpg"

=image_tag "scribbles/1612-21-merry.jpg"

=image_tag "scribbles/1612-20-merry.jpg"

=image_tag "scribbles/1612-19-merryxmas.jpg"

=image_tag "scribbles/1612-18-merry.jpg"

=image_tag "scribbles/1612-17-merry.jpg"

%p
  %a(href="/scribbles2") Scribbles & Letters, Page 2 (even older shit) &raquo;
