---
title: "Scribbles & Letters, Page 2"
---

%h1= current_page.data.title

%h2#ohuh Oh. Uh...

=image_tag "scribbles/1612-16-ohuh.jpg"

%h2#invited Invited

=image_tag "scribbles/1612-15-invited.jpg"

%p I got a new <a href="http://www.jetpens.com/Pentel-Pocket-Brush-Pen-XGFKP-A/pd/1793">Pentel Pocket Brush pen</a>, which has a nylon brush tip, creates great think and thin lines, and feels really smooth to write with.

%h2 Rando Scribbles

=image_tag "scribbles/1612-14.jpg"

%h2#borders Borders

=image_tag "scribbles/1612-13-borders.jpg"

%h2#flour Flour

=image_tag "scribbles/1612-12-flour.jpg"

%h2#f2 F

=image_tag "scribbles/1612-11-f.jpg"

%h2#snail Snail

=image_tag "scribbles/1612-10-snail.jpg"

%h2#aqua Aqua

=image_tag "scribbles/1612-9-aqua.jpg"

%h2 W, Queen, The

=image_tag "scribbles/1612-8.jpg"

%h2#ventura Ventura

=image_tag "scribbles/1612-7-ventura.jpg"

=image_tag "scribbles/1612-6-ventura.jpg"

=image_tag "scribbles/1612-5-v.jpg"


%h2#happyholidays Happy Holidays

=image_tag "scribbles/1612-4-hhcloseup.jpg"

=image_tag "scribbles/1612-3-happyholidays.jpg"

=image_tag "scribbles/1612-2-happyholidays.jpg"

=image_tag "scribbles/1612-1-happyholidays.jpg"


%h2#scallops Scallops

=image_tag "scribbles/1611-2-scallops.jpg"

%h2#gum Gum

=image_tag "scribbles/1611-1-gum.jpg"

%h2#foot Foot + Lines

=image_tag "scribbles/foot.jpg"

%h2#geo1 Geometric Patterns

=image_tag "scribbles/geometric1.jpg"

%h2#warmup1 Warm-ups #1

=image_tag "scribbles/warm-ups1.jpg"

%h2#warmup2 Warm-ups #2

=image_tag "scribbles/warm-ups2.jpg"

%h2#zags Zags

=image_tag "scribbles/zags.jpg"

%h2#cyanotype-bday Cyanotype Birthday Greeting

=image_tag "scribbles/cyanotype-bday.jpg"

%h2#doodles-letters Doodles & Letters

=image_tag "scribbles/doodles-letters.jpg"

%h2#goldsmiths Goldsmiths

=image_tag "scribbles/goldsmiths.jpg"

%h2#olds Olds

=image_tag "scribbles/olds.jpg"

%h2#curves1 Curves

=image_tag "scribbles/curves1.jpg"

%h2#k Ks and Kellys

=image_tag "scribbles/k.jpg"

%h2#playbill Playbill Practice

=image_tag "scribbles/playbill.jpg"

%h2#mothersday Mother's Day

=image_tag "scribbles/md-process1.jpg"

=image_tag "scribbles/md-process2.jpg"

=image_tag "scribbles/md-process3.jpg"

=image_tag "scribbles/md-final.jpg"
%em Final card!

%h2#f F

=image_tag "scribbles/f.jpg"
%em 4/24/16

%h2#g G

=image_tag "scribbles/g.jpg"
%em 4/23/16

%h2#m M

=image_tag "scribbles/m.jpg"
%em 4/21/16

%h2#j J

=image_tag "scribbles/j.jpg"
%em 4/19/16
