---
title: "Scribbles & Letters"
---

%h1= current_page.data.title

%h2#fabric Fabric

=image_tag "scribbles/1708-5-fabric.jpg"

%h2#sunshine Sunshine

=image_tag "scribbles/1708-4-sunshine.jpg"

%h2#truffle Truffle

=image_tag "scribbles/1708-3-truffle.jpg"

%h2#alphabet1708 Alphabet

=image_tag "scribbles/1708-2-alphabet.jpg"

%p Experimenting with a new style

%h2#cabbage Cabbage

=image_tag "scribbles/1708-1-cabbage.jpg"

%h2#aluminum Aluminum and Warm-ups

=image_tag "scribbles/1707-1-warmups.jpg"

=image_tag "scribbles/1707-2-aluminum1.jpg"

=image_tag "scribbles/1707-3-aluminum2.jpg"

%h2#create-calm Create Calm

=image_tag "scribbles/1706-3-create-calm.jpg"

%h2#candy Candy

=image_tag "scribbles/1706-2-candy.jpg"

%h2#alphabet-june17 Alphabet

=image_tag "scribbles/1706-1-alphabet.jpg"

%h2#thursday Thursday

=image_tag "scribbles/1704-6-thursday.jpg"

%h2#wednesday Wednesday

=image_tag "scribbles/1704-5-wednesday.jpg"

%p It's almost shocking how easy it is to miss those typos

%h2#warmth Warmth

=image_tag "scribbles/1704-4-warmth.jpg"

%h2#capitals Capital Letters

=image_tag "scribbles/1704-3-capitals1.jpg"

=image_tag "scribbles/1704-3-capitals2.jpg"

%h2#energy Energy

=image_tag "scribbles/1704-2-energy.jpg"

%h2#capitals Mad Love

=image_tag "scribbles/1704-1-madlove.jpg"

%h2#elemental Elemental / Simple

=image_tag "scribbles/1703-5-elemental-simple.jpg"

%h2#capitals Breathe

=image_tag "scribbles/1703-4-breathe.jpg"

%h2#capitals Swimming

=image_tag "scribbles/1703-3-swimming.jpg"

%h2#ocean Ocean / Sail Away

=image_tag "scribbles/1703-2-ocean.jpg"

%h2#b1 B

=image_tag "scribbles/1703-1-B.jpg"

%h2#blends Blending Pen

=image_tag "scribbles/1702-5-blends.jpg"

%p Just figured out how to use my blending pen, so this is me playing around with that.

%h2#erstwhile Erstwhile

=image_tag "scribbles/1702-4-erstwhile.jpg"

%h2#every Every

=image_tag "scribbles/1702-3-every.jpg"

%h2#zoology Zoology

=image_tag "scribbles/1702-2-zoology.jpg"

%h2#guest Guest

=image_tag "scribbles/1702-1-guest.jpg"

%p
  %a(href="/scribbles2") Scribbles & Letters, Page 2 (even older shit) &raquo;
