---
title: "Scribbles & Letters"
---

%h1= current_page.data.title

%h2#purple-haze Purple Haze

=image_tag "scribbles/117-16-purple-haze.jpg"

%p Close-up of the shitty job I did outlining "Sky." Enjoy.

%h2#colors Colors!

=image_tag "scribbles/117-15-colors.jpg"

=image_tag "scribbles/117-15-colors2.jpg"

%p
  Just got some
  %a(href="http://tombowusa.com/dual-brush-pen-784.html") Tombow Dual Brush pens.
  Pretty sweet.

%h2#alpha-caps More alphabet. Caps.

=image_tag "scribbles/117-14-alpha-caps.jpg"

%h2#breathe Breathe

=image_tag "scribbles/117-13-breathe.jpg"

%h2#stay Stay

=image_tag "scribbles/117-12-stay.jpg"

%h2#bullocks Bullock's

=image_tag "scribbles/117-11-bullocks.jpg"

%h2#wait Wait, but Why?

=image_tag "scribbles/117-10-wait1.jpg"

=image_tag "scribbles/117-10-wait2.jpg"

%h2#alphabet-swashes Alphabet; Swashes

=image_tag "scribbles/117-9-alphabet-swashes.jpg"

%h2#home Home

=image_tag "scribbles/117-8-home.jpg"

%h2#you-my-are You. My. Are.

=image_tag "scribbles/117-7-you-my-are.jpg"

%h2#arden Arden

=image_tag "scribbles/117-6-arden.jpg"

%h2#linesdots Lines n' Dots

=image_tag "scribbles/117-5-linesdots.jpg"

%h2#happy Happy :)

=image_tag "scribbles/117-4-happy.jpg"

%h2#angle-flower Angle. Flower.

=image_tag "scribbles/117-3-angle-flower.jpg"

%h2#green Green

=image_tag "scribbles/117-2-green.jpg"

%h2#alphabet1 Alphabet

=image_tag "scribbles/117-1-alphabet.jpg"

%h2#sunset Sunset

=image_tag "scribbles/1216-30-sunset.jpg"

%h2#puzzle Puzzle

=image_tag "scribbles/1216-29-puzzle.jpg"

%h2#girlfriends Girlfriends

=image_tag "scribbles/1216-27-girlfriend.jpg"

=image_tag "scribbles/1216-28-girlfriend.jpg"

%h2#bb bb

=image_tag "scribbles/1216-26-bb.jpg"

%h2#angle Angle

=image_tag "scribbles/1216-25-angle.jpg"

%h2#southwest Southwest

=image_tag "scribbles/1216-24-southwest.jpg"

%p My Southwest flight back to the bay was delayed, so I scribbled out some Southwests.

%h2#a a

=image_tag "scribbles/1216-23-a.jpg"

%h2#xmas Merry Christmas!

=image_tag "scribbles/1216-22-christmas.jpg"

=image_tag "scribbles/1216-21-merry.jpg"

=image_tag "scribbles/1216-20-merry.jpg"

=image_tag "scribbles/1216-19-merryxmas.jpg"

=image_tag "scribbles/1216-18-merry.jpg"

=image_tag "scribbles/1216-17-merry.jpg"

%p
  %a(href="/scribbles2") Scribbles & Letters, Page 2 (even older shit) &raquo;
