---
title: "Scribbles & Letters"
---

%h1= current_page.data.title

%h2#fudenosukefine Fudenosuke Fine Tip Colors

=image_tag "scribbles/1811-1-fudenosukefine.jpg"

%h2#ohshit Oh Shit

=image_tag "scribbles/1807-5-ohshit.jpg"

%h2#electric Electric

=image_tag "scribbles/1807-4-electric.jpg"

%h2#montana Montana

=image_tag "scribbles/1807-3-montana.jpg"

%h2#hellyeah Hell Yeah

=image_tag "scribbles/1807-2-hellyeah.jpg"

%h2#hombre Hombre

=image_tag "scribbles/1807-1-hombre.jpg"

%h2#guacamole Guacamole

=image_tag "scribbles/1806-4-guacamole.jpg"

%h2#minimum Minimum

=image_tag "scribbles/1806-3-minimum.jpg"

%h2#june June

=image_tag "scribbles/1806-2-june.jpg"

=image_tag "scribbles/1806-2-june2.jpg"

%h2#riseandshine Rise and Shine

=image_tag "scribbles/1806-1-riseandshine.jpg"

%h2#imagination Imagination

=image_tag "scribbles/1805-2-imagination.jpg"

%h2#hello Hello

%p
  These are all the "Hello"s I explored for my
  =link_to "about page.", "/about", { title: "About Jeff Zych" }

=image_tag "scribbles/1805-1-hello.jpg"

=image_tag "scribbles/1805-1-hello2.jpg"

=image_tag "scribbles/1805-1-hello3.jpg"

=image_tag "scribbles/1805-1-hello4.jpg"

=image_tag "scribbles/1805-1-hello5.jpg"

%h2#nevertheless Nevertheless

=image_tag "scribbles/1804-3-nevertheless.jpg"

%h2#about About

=image_tag "scribbles/1804-2-about.jpg"

%h2#handlettering Hand Lettering

=image_tag "scribbles/1804-1-handlettering.jpg"

=image_tag "scribbles/1804-1-handlettering2.jpg"

%h2#signletter Sign Letter Alphabet

=image_tag "scribbles/1803-7-signletters.jpg"

=image_tag "scribbles/1803-7-signletters2.jpg"

=image_tag "scribbles/1803-7-signletters3.jpg"

=image_tag "scribbles/1803-7-signletters4.jpg"

%h2#masterpiece Masterpiece

=image_tag "scribbles/1803-6-masterpiece.jpg"

%h2#ch ch

=image_tag "scribbles/1803-5-ch.jpg"

%h2#highlight Highlight

=image_tag "scribbles/1803-4-highlight.jpg"

%h2#jz JZ

These are all the options I explored for the JZ monogram at the top of the site.

=image_tag "scribbles/1803-3-jz.jpg"

=image_tag "scribbles/1803-3-jz2.jpg"

=image_tag "scribbles/1803-3-jz3.jpg"

=image_tag "scribbles/1803-3-jz4.jpg"

=image_tag "scribbles/1803-3-jz5.jpg"

=image_tag "scribbles/1803-3-jz6.jpg"

=image_tag "scribbles/1803-3-jz7.jpg"

%h2#shade Shade

=image_tag "scribbles/1803-2-shade.jpg"

%h2#death Death

=image_tag "scribbles/1803-1-death.jpg"

%h2#witchcraft Witchcraft

=image_tag "scribbles/1802-10-witchcraft.jpg"

%h2#kimono Kimono

=image_tag "scribbles/1802-9-kimono.jpg"

%h2#modern-alphabet Modern Alphabet

=image_tag "scribbles/1802-8-modern-alphabet.jpg"

%h2#saturday Saturday

=image_tag "scribbles/1802-7-saturday.jpg"

%h2#toffee-best Toffee / Best

=image_tag "scribbles/1802-6-toffee-best.jpg"

%h2#winter-olympics Winter Olympics

=image_tag "scribbles/1802-5-winter-olympics.jpg"

=image_tag "scribbles/1802-4-winter.jpg"

%h2#yellow Yellow

=image_tag "scribbles/1802-3-yellow.jpg"

%h2#y2 Y (again)

=image_tag "scribbles/1802-2-y2.jpg"

%h2#dreams Dreams

=image_tag "scribbles/1802-1-dreams.jpg"

%h2#xanadu Xanadu

=image_tag "scribbles/1801-4-xanadu.jpg"

%h2#y Y

=image_tag "scribbles/1801-3-y.jpg"

%h2#whiskey Whiskey

=image_tag "scribbles/1801-2-whiskey.jpg"

%h2#umbrage Umbrage

=image_tag "scribbles/1801-1-umbrage.jpg"

%h2#gold-silver Gold / Silver

=image_tag "scribbles/1712-5-gold-silver.jpg"

%h2#chaos Chaos

=image_tag "scribbles/1712-4-chaos.jpg"

%p
  %a(href="/scribbles2") Scribbles & Letters, Page 2 (even older shit) &raquo;
