---
title: "Resume"
article_class: "resume"
---

%section.contact{ :style => "display: none;" }
  %p Email: jlzych@gmail.com
  %p Phone: 805-368-4791
  %p Website: http://jlzych.com

%section.education
  .section-title
    %h2 Education
  .section-content
    .school
      %h3
        UC Berkeley,
        =link_to "School of Information", "http://ischool.berkeley.edu", "School of Information homepage"
      .subhead
        %span.title=link_to "Master of Information Management and Systems", "http://www.ischool.berkeley.edu/programs/masters", "Master's degree homepage"
        %span.dates 2012
      %p GPA: 3.95
    .school
      %h3=link_to "Cal Poly, San Luis Obispo", "http://calpoly.edu", "Cal Poly homepage"
      .subhead
        %span.title=link_to "Graphic Communication B.S.", "http://www.grc.calpoly.edu", "Graphic Communication homepage"
        %span.dates 2007
      %p Minor in Computer Science
      %p GPA: 3.7
    %h3 Computer Skills
    %ul
      %li
        %span.sc html5, css3, haml, sass,
        Javascript/jQuery, Git
      %li
        Experience in Python, Ruby, C, C#, Java,
        %span.sc sql, xml, xslt
      %li Adobe Creative Suite 5

%section.experience
  .section-title
    %h2 Experience
  .section-content
    .position
      %h3.location
        =link_to "MeFunction", "http://mefunction.com", "MeFunction homepage"
        (Oakland, CA)
      .subhead
        %span.title Javascript Contractor
        %span.dates 06/12 &mdash; Present
      %p.description
        Implemented interactive, AJAX-powered web pages using the Ext.js Javascript library.

    .position
      %h3.location
        =link_to "Cityspan Technologies", "http://cityspan.com", "Cityspan homepage"
        (Berkeley, CA)
      .subhead
        %span.title UI Designer
        %span.dates 06/11 &mdash; 08/11
      %p.description Re-designed the user interface of YouthServices.net, Cityspan's main product. The re-design utilized a user-centered design process that analyzed user needs to learn which areas of the product were most in need of improvement, which I then implemented in the final product.

    .position
      %h3.location
        =link_to "PrivacyPatterns.org", "http://privacypatterns.org", "Privacy Patterns homepage"
        (Berkeley, CA)
      .subhead
        %span.title Lead Designer & Developer
        %span.dates 06/11 &mdash; 08/11, 01/12 &mdash; 05/12
      %p.description Developed an online repository to provide practical software engineering advice for common privacy problems. Created the system from the ground up using Hyde, a Python-based static site generator.

    .position
      %h3.location
        =link_to "Cityspan Technologies", "http://cityspan.com", "Cityspan homepage"
        (Berkeley, CA)
      .subhead
        %span.title Data Warehouse Developer
        %span.dates 08/08 &mdash; 11/10
      %p.description Developed the front-end and back-end systems to integrate Cityspan's data warehouse with their lead product, YouthServices.net.

%section.honors
  .section-title
    %h2 Honors &amp; Awards
  .section-content
    %ul
      %li Cal Poly Dean’s List for 9 quarters
      %li Boy Scouts of America Eagle Scout Award

%section.activities
  .section-title
    %h2 Activities &amp; Interests
  .section-content
    %ul
      %li
        =link_to "Cal Cooking Club", "http://cooking.berkeley.edu", "Cal Cooking Club homepage"
        webmaster, 2010-2011 academic year
      %li Cal Poly Film Club secretary, 2005-2006 academic year
      %li Ventura High School Tennis Team 1999-2003 (MVP 2003 season)
