---
title: "Resume"
article_class: "resume"
---

%section.contact{ :style => "display: none;" }
  %p Email: jlzych@gmail.com
  %p Phone: 805-368-4791
  %p Website: http://jlzych.com

%section.education
  .section-title
    %h2 Education
  .section-content
    .school
      %h3 UC Berkeley, School of Information
      %p Master of Information Management and Systems &mdash; 2012
      %p GPA: 3.95
    .school
      %h3 Cal Poly, San Luis Obispo
      %p Graphic Communication B.S., Electronic Publishing and Imaging focus &mdash; 2007
      %p Minor in Computer Science
      %p GPA: 3.7
    %h3 Computer Skills
    %ul
      %li
        %span.sc html5, css3, haml, sass,
        Javascript/jQuery
      %li
        Experience in Python, Ruby, C, C#, Java,
        %span.sc sql, xml, xslt
      %li Adobe Creative Suite 5

%section.experience
  .section-title
    %h2 Experience
  .section-content
    .position
      %h3.location Cityspan Technologies (Berkeley, CA)
      .details
        %span.job-title UI Designer
        %span.date-ranges 06/11 &mdash; 08/11
      %p.description Re-designed and implemented the user interface of YouthServices.net, Cityspan's top client-facing product. The re-design began as a class project in User Interface Design and Development, which utilized a user centered design process to analyze user needs and produce an interactive prototype.

    .position
      %h3.location PrivacyPatterns.org (Berkeley, CA)
      .details
        %span.job-title Lead Designer & Developer
        %span.date-ranges 06/11 &mdash; 08/11, 01/12 &mdash; 05/12
      %p.description Developed an online repository to provide practical software engineering advice for common privacy problems. Created the system from the ground up using Hyde, a Python-based static site generator.

    .position
      %h3.location Cityspan Technologies (Berkeley, CA)
      .details
        %span.job-title Data Warehouse Developer
        %span.date-ranges 08/08 &mdash; 11/10
      %p.description Developed the front-end and back-end systems to integrate Cityspan's data warehouse with their lead product, YouthServices.net.

%section.honors
  .section-title
    %h2 Honors &amp; Awards
  .section-content
    %ul
      %li Cal Poly Dean’s List for 9 quarters
      %li Boy Scouts of America Eagle Scout Award

%section.activities
  .section-title
    %h2 Activities &amp; Interests
  .section-content
    %ul
      %li Cal Cooking Club webmaster, 2010-2011 academic year
      %li Cal Poly Film Club secretary, 2005-2006 academic year
      %li Ventura High School Tennis Team 1999-2003 (MVP 2003 season)
